.archive-menu {
    position: absolute;
    top: 17vh;
    left: 84vw;
    height: 73vh;
    overflow: scroll;
}

.achive-link {
    font-family: 'pretendard';
    color: #888989;
    text-decoration: none;
    font-size: large;
    line-height: 350%;
    transition: color 0.5s;
}

.achive-link:hover {
    color: black;

}

.archive-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.archive-menu::-webkit-scrollbar-thumb {
    background-color: transparent;
}