.modal-on {
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.modal-on:hover {
    transform: scale(3);
}