.api_container {
    position: absolute;
    top: 17vh;
    left: 17vw;
}

.ApiTable {
    border: none;
    border-Collapse: collapse;
    background-Size: 100% 100%;
    background-image: url('../../img/map.png');
}

.TdCell {
    border: none;
    width: 23px;
    height: 23px;
    word-break: fixed;
}

.arc-pic {
    margin: 50px;
}