.left {
    position: absolute;
    top: 16.5vh;
    left: 17vw;
    font-size: 35px;
    color: #888989;
    transition: color 0.5s;
}

.left:hover {
    color: black;
}

.right {
    position: absolute;
    top: 36vh;
    left: 47vw;
    z-index: 100000;
    font-size: 35px;
    color: #888989;
    transition: color 0.5s;
}

.right:hover {
    color: black;
}